* {
    margin: 0px;
    padding: 0px;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}


.logo {
    color: #f9faf8;
    font-size: 24px;
}

.links {
    color: white;
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}


.body_1 {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    padding: 100px;
    gap: 25px;

}

.body_1_text_box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#body_1_title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bold;
    width: 300px;
}

#body_1_subtext {
    color: #e5e7eb;
    font-size: 18px;
}

#body_1_button {
    color: #f9faf8;
    background-color: #3882F6;
    font-size: 25px;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    border: #3882F6;
}

.body_1_image_box {}

#body_1_image {
    width: 600px;
    height: 200px;
    background-color: #1f2937;
    color: #1f2937;
}


.body_2 {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    padding: 100px;

}

.body_2_title {
    color: #1f2937;
    font-size: 36px;
}

.body_2_images_row {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.body_2_image_holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    margin-top: 30px;
}

.body_2_image {
    border: 2px solid #3882F6;
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.body_2_text {
    color: #1f2937;
    text-align: center;
    margin-top: 20px;
}



.body_3 {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.body_3_text_holder {
    display: flex;
    flex-direction: column;
    width: 900px;
}

#body_3_quote {
    color: #1f2937;
    font-weight: lighter;

}

#body_3_quote_author {
    color: #1f2937;
    font-weight: bold;
    align-self: flex-end;
    padding-top: 40px;
}


.body_4 {
    background-color: white;
    padding: 50px;
    display: flex;
    justify-content: center;

}

.body_4_box {
    display: flex;
    width: 1000px;
    height: 200px;
    background-color: #3882F6;
    border-radius: 30px;
    justify-content: space-around;
    align-items: center;
}

.body_4_box_text_holder {
    display: flex;
    flex-direction: column;
}

#body_4_box_title {
    color: white;
    font-weight: bold;
    font-size: 32px;
}

#body_4_box_text {
    color: white;
    font-size: 30;
}

.body_4_box_button{
    border: 2px solid white;
    background-color: transparent;
    color: white;
    font-size: 30px;
    padding: 10px;
    border-radius: 10px;
}


.Footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    color: white;
    height: 100px;
    font-size: 24px;
}