* {
    margin: 0px;
    padding: 0px;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}


.logo {
    color: #f9faf8;
}

.links {
    color: white;
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 30px;

}